# Dependencias y builds
node_modules/
dist/

.env
!.env.example        # permite subir plantillas
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caches / herramientas
.cache/
.eslintcache

# OS / editores
.DS_Store
.vscode/
.idea/