# --- SO / editores ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace

# --- Entornos / secretos ---
.env
.env.*
!.env.example

# --- Logs comunes ---
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Cobertura / reports ---
.coverage
.coverage.*
htmlcov/
coverage.xml

# --- Python cache global ---
__pycache__/
*.py[cod]

