
# Clave de OpenRouter.
OPENROUTER_API_KEY=PONER API KEY AQUI
# Modelo por defecto
OPENROUTER_MODEL=meta-llama/llama-3.3-8b-instruct:free
# Identificación opcional hacia OpenRouter
APP_URL=http://localhost:8000
APP_TITLE=Galilei API
